.error{
  color: red;

}

.article .prix{
  font-weight: bold;
}

.main .article{
  background-color: lightblue;
  height: 300px;
  width: 30%;
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.article img{
  height: 40%;
}

.main{
  background-color: green;
}



.arrow{
  text-align: center;
}

.arrow a,p,img{

    display: inline-block;
}
.arrow img{
  width: 40px;
  margin: 10px;
  text-align: center;
  background-color: red;
}
